body{
    margin: 20px auto;
    width: 960px;
    background-color: deepskyblue;
}
p{
    font-size: 20px;
    background-color: brown;
}
h1{
    font-size: 40px;
}

h1:hover{color:red; font-weight: bold}

span{
    background-color: aquamarine;
}
body div{
    font-size: 33px;
}
